numpy
pandas

# Jupyter is not necessary unless you plan to run the example notebooks. Feel free to comment out this line
# jupyter

brpylib @ git+ssh://git@github.com/BlackrockNeurotech/Python-Utilities.git@main